body {
    font-family: sans-serif;
    text-align: center;
    background-color: aqua;
}

#jogo {
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
}

#form-chute {
    margin-top: 20px;
}

#mensagens p {
    margin-top: 10px;
}